<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/main.css">
    
    <title>Moment 1 - Lägg till kurs</title>
</head>
<body>
    <h1>Lägg till kurs</h1>
    <nav class="navNav">
        <ul class="navUl">
            <li><a href="/" >Startsida </a></li>
            <li><a href="/addCourse" class="currentPage">Lägg till kurs</a></li>
            <li><a href="/about" >Om sidan</a></li>
        </ul>
    </nav>

    <div class=divForm>
        <form method="POST" action="/addCourse">
           
            <label for="coursecode">Kurskod:</label>
            <input type="text" id="coursecode" name="coursecode" required>

            <label for="coursename">Kursnamn:</label>
            <input type="text" id="coursename" name="coursename" required>
            

            <label for="syllabus">Länk:</label>
            <input type="text" id="syllabus" name="syllabus" required>
            

            <label for="progression">Progression:</label>
            <select id="progression" name="progression" required>
            <option value="">Progression</option>
                <option value="A">A</option>
                <option value="B">B</option>
            
            <input type="submit">

        </form>
    </div>

    <div class="courseList">
        <h1>Kurslista</h1>
        <% courses.forEach(course => { %>
            <ul>
                <li>Kursnamn: <%= course.coursename %></li>
                <li>Kurskod: <%= course.coursecode %></li>
                <li>Länk: <a href="<%= course.syllabus %>"><%= course.syllabus %></a></li>
                <li>Progression: <%= course.progression %></li>
            </ul>
        <% }); %>
    </div>
</body>
</html>